{% extends "_base.html" %}
{% block title %}{{verb}}{% endblock %}


{% block content %}

Example usage:
<blockquote>{{data.example}}</blockquote>
Forms found:
<ul>
    {% for form in data.instances %}
        <li>{{form}}</li>
    {% endfor %}
</ul>
{% if data.condep %}
<h2>Conceptual Dependancies</h2>
{{data.condep.primitive.name}} Event
<div id="condep-diagram">
    <object data="/svg/{{verb}}" type="image/svg+xml">

    </object>
</div>
{%endif%}

<h2>Lexical Database Entries</h2>
{% for sense in data.database_ids %}
    {% if sense.verbnet or sense.propbank or sense.wordnet %}
    <h3>Sense</h3>
    <dl>
        {% if sense.synset %} 
        <dt>Synset</dt>
        <dd>
          <a href="/synsets/{{sense.synset }}">
            {{sense.synset }}
          </a>
        </dd>
        {%endif%}

        {% if sense.verbnet %} 
        {% set url = '-'.join(sense.verbnet.split('-')[0:2]) %}
        <dt>VerbNet ID</dt>
        <dd>
          <a href="https://verbs.colorado.edu/verb-index/vn3.3/vn/{{url}}.php#{{sense.verbnet}}">
            {{sense.verbnet }}
          </a>
        </dd>
        {%endif%}

        {% if sense.propbank %}
        <dt>Propbank Grouping</dt>
        <dd>
          <a href="http://verbs.colorado.edu/propbank/framesets-english-aliases/{{sense.propbank.split('.')[0]}}.html">
            {{sense.propbank }}
          </a>
        </dd>
        {%endif%}

        {% if sense.wordnet %}
        <dt>WordNet IDs</dt>
        <dd>
          <ul>
            {% for sense in sense.wordnet %}
            <li>{{sense}}</li>
            {% endfor %}
          </ul>
        </dd>
        {%endif%}
    </dl>

    {% if sense.hypernyms %}
    <h4>Hypernyms</h4>
    <ul>
        {% for form in sense.hypernyms %}
        <li><a href="/synsets/{{form}}">{{form}}</a></li>
        {% endfor %}
    </ul>
    {%endif%}
    {%endif%}

{% endfor %}


{% endblock %}