{% extends "_base.html" %}
{% block title %}{{verb}}{% endblock %}


{% block content %}

Example usage: 
<blockquote>{{data.example}}</blockquote>
Forms found:
<ul>
  {% for form in data.instances %}
  <li>{{form}}</li>
  {% endfor %}
</ul>
{% if data.condep %}
<h2>Conceptual Dependancies</h2>
{{data.condep.primitive.name}} Event
<div id="condep-diagram">
  <object data="/svg/{{verb}}" type="image/svg+xml">
    
  </object>
</div>
<!-- <script async="async" src="/static/js/entry.js"></script> -->
{%endif%}

{% endblock %}