{% extends "_base.html" %}
{% block title %}{{set_name}}{% endblock %}


{% block content %}

<h2>{{set_name}}</h2>

{% if verbs_in_set %}
Verbs in synset:
<ul>
  {% for verb in verbs_in_set %}
  <li><a href="/directory/{{verb}}">{{verb}}</a></li>
  {%endfor%}
</ul>
{% else %}
No verbs in PhysNet for {{set_name}}
{%endif%}

{% if hyponyms == None %}
Hyponyms not available...
{% else %}
<h3>Hyponyms</h3>
<ul>
    {% for hypo in hyponyms %}
    <li><a href="/synsets/{{hypo}}">{{hypo}}</a></li>
    {%endfor%}
</ul>
{% endif %}

{% endblock %}